.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1 {
        font-size: 25px;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
